.app__work {
    display: block;
    background-color: var(--gray-color);
}

.app__work-content {
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    padding-bottom: 100px;
}

.app__work-title {
    padding-top: 100px;
    text-align: center;
    transition: ease all .5s;
    color: var(--white-color);

    h1 {
        font-size: 50px;
        margin-bottom: 25px;
        font-family: var(--font-text);
    }

    p {
        font-size: 25px;
        margin-bottom: 50px;
    }

    @media screen and(max-width: 550px) {
        p {
            font-size: 21px;
        }
    }
}

.app__work-portfolio {
    margin: 0 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @media screen and(max-width: 750px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

//Card

.app__work-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;

    &:hover {
        bottom: 25px;
        box-shadow: 0 0 3em var(--secondary-color);
    }

}

.app__work-card-content {
    display: flex;
    align-items: flex-end;
    padding: 5px;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat, no-repeat;
    background-blend-mode: overlay, overlay;
}

.app__work-card-skills {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;

    img {
        margin-left: 10px;
        width: 48px;
        height: 48px;
    }
}

.app__work-card-description {
    width: 100%;
    height: 50px;
    padding: 5px;
    display: block;
    background-color: var(--white-color);

    h1 {
        font-size: 15px;
    }

    a {
        text-decoration: none;
        width: fit-content;
    }
}