.app__work {
    display: flex;
    min-height: 800px;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
}




//Card

.app__work-card {
    width: 500px;
    max-width: 500px;
    height: 300px;
    box-shadow: 0 0 0.5em var(--gray-color);
    border-radius: 5px;
}

.app__work-card-content {
    display: flex;
    align-items: flex-end;
    padding: 5px;
    width: 100%;
    height: 250px;
    background-image: url(../../assets/keeper.png);
    background-size: cover;
}

.app__work-card-title {
    width: 100%;
    height: 50px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.app__work-card-skills{
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    h1{
        
    }
}