.app__about {
    background-color: var(--white-color);
}

.app__about-content {
    display: block;
    justify-content: center;
    max-width: 1200px;
    min-height: 800px;
    margin: 0 auto;
    width: 100%;
    color: var(--gray-color);

    h1 {
        font-size: 50px;
        font-family: var(--font-text);
    }
    @media screen and(max-width: 900px){
        min-height: 400px;
    }
}

.app__about-grid {
    display: grid;
    grid-template-columns: 400px 1fr;
    min-height: 800px;

    @media screen and(max-width: 900px) {
        display: block;
        align-items: center;
        margin: 0 15px;
    }
}

.app__about-topics {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;


    @media screen and(max-width: 900px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 100px;

    }
}

.app__about-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    height: 50px;
    border: 1.5px solid black;
    border-radius: 25px;
    background-color: var(--gray-color);
    color: var(--white-color);
    margin-bottom: 20px;
    cursor: pointer;

    &:hover {
        color: var(--gray-color);
        background-color: var(--white-color);

        span {
            box-shadow: 2px -2px 0 1px var(--gray-color) inset;
        }

    }

    p {
        padding-left: 25px;
        font-size: 25px;
    }

    @media screen and(max-width: 900px) {
        align-items: center;
        justify-content: center;
        min-width: 200px;
        &:hover {
            color: var(--gray-color);
            background-color: var(--white-color);
        }
        p {
            padding-left: 0;
            font-size: 25px;
        }
    
    }
}

.app__about-button-true{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    height: 50px;
    border: 1.5px solid black;
    border-radius: 25px;
    color: var(--gray-color);
    background-color: var(--white-color);
    margin-bottom: 20px;
    cursor: pointer;
    span {
        box-shadow: 2px -2px 0 1px var(--gray-color) inset;
    }
    p {
        padding-left: 25px;
        font-size: 25px;
    }
    @media screen and(max-width: 900px) {
        align-items: center;
        justify-content: center;
        min-width: 200px;
        p {
            padding-left: 0;
            font-size: 25px;
        }
    }
}

.app__about-arrow-div {
    display: flex;
    justify-content: center;
    width: 50px;
    @media screen and(max-width: 900px) {
        display: none;
    }
}

.app__about-arrow {
    padding: 10px;
    box-shadow: 2px -2px 0 1px var(--white-color) inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(225deg);
}

.app__about-card {
    width: 100%;
    min-height: 300px;
}

.app__about-text{
    margin: 100px 0;
}

.app__about-text-content {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 50px;

    p {
        font-size: 30px;
        font-family: var(--font-text);
        font-weight: 400;
        color: var(--purple-color);
        text-align: justify;

        span {
            background: var(--green-color);
        }
    }

    img {
        width: 150px;
        height: 150px;

    }
}

.app__about-tech {
    h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }
}

.app__about-tech-img {
    display: flex;

    img {
        width: 60px;
        height: 60px;
    }
}

.app__about-tech-img-grid {
    display: grid;
    grid-template-columns: 60px 60px;
    gap: 20px;
}

